# Environment variables
.env
*.env
sample.txt
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
_pycache_/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log